<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhonny.infocar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.jhonny.infocar.InicioActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.PrincipalActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_principal" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.MantenimientoActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_mantenimiento" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.AccidentesActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_accidentes" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.ReparacionesActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_reparaciones" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.DatosActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_datos" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.EstadisticasActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_estadisticas" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.OpcionesActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_opciones" >
        </activity>
        
        <activity android:name="com.millennialmedia.android.MMActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" 
			android:configChanges="keyboardHidden|orientation|keyboard" >
		</activity>
    </application>
</manifest>
