<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhonny.infocar"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.jhonny.infocar.InicioActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@android:style/Theme.Holo"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.fragments.MantenimientosFragment"
            android:label="@string/title_activity_mantenimiento"
            android:theme="@android:style/Theme.Holo">
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.fragments.AccidentesFragment"
            android:label="@string/title_activity_accidentes"
            android:theme="@android:style/Theme.Holo">
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.fragments.ReparacionesFragment"
            android:label="@string/title_activity_reparaciones"
            android:theme="@android:style/Theme.Holo" >
            <!--android:launchMode="singleInstance" >-->
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.fragments.DatosFragment"
            android:label="@string/title_activity_datos"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.fragments.EstadisticasFragment"
            android:label="@string/title_activity_estadisticas"
            android:theme="@android:style/Theme.Holo"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.fragments.OpcionesFragment"
            android:label="@string/title_activity_opciones"
            android:theme="@android:style/Theme.Holo" >
        </activity>

        <activity
            android:name="com.jhonny.infocar.fragments.VehiculoFragment"
            android:label="@string/title_activity_vehiculo"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.fragments.NuevoVehiculoFragment"
            android:label="@string/title_activity_nuevo_vehiculo"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        
        <activity
            android:name="com.millennialmedia.android.MMActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name="com.jhonny.infocar.fragments.TerminosFragment"
            android:label=""
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name="com.jhonny.infocar.fragments.PoliticaFragment"
            android:label=""
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
    </application>
</manifest>
