<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhonny.infocar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        
        <activity
            android:name="com.jhonny.infocar.InicioActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.MantenimientoActivity"
            android:label="@string/title_activity_mantenimiento"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.AccidentesActivity"
            android:label="@string/title_activity_accidentes"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.ReparacionesActivity"
            android:label="@string/title_activity_reparaciones"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.DatosActivity"
            android:label="@string/title_activity_datos"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.EstadisticasActivity"
            android:label="@string/title_activity_estadisticas"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.OpcionesActivity"
            android:label="@string/title_activity_opciones"
            android:launchMode="singleInstance" >
        </activity>
        
        <activity
            android:name="com.millennialmedia.android.MMActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.jhonny.infocar.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
    </application>
</manifest>
